* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.navbar {
  background-image: linear-gradient(#306f88, #6bb8e9);
}
.nabar-brand {
  font-weight: bold;
  font-size: 30px;
}
.nav-item {
  font-size: 22px;
}
